<a href="https://colab.research.google.com/github/DonaldTurton/AT2_Advanced_Data_Algorithms/blob/master/AT2_GetData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Predicting Energy Prices

In [0]:
# Packages
import pandas as pd
import numpy as np
from google.colab import files

In [23]:
# Read csv
url = 'https://raw.githubusercontent.com/DonaldTurton/AT2_Advanced_Data_Algorithms/master/ADAA_data.csv'
data = pd.read_csv(url)
data.head()

   Unnamed: 0 REGION  ...  Period.over.which.rainfall.was.measured..days.  Quality
0           1   NSW1  ...                                             1.0        N
1           2   NSW1  ...                                             1.0        N
2           3   NSW1  ...                                             1.0        N
3           4   NSW1  ...                                             1.0        N
4           5   NSW1  ...                                             1.0        N

[5 rows x 28 columns]

In [28]:
# Exploring the data set
data.shape   #28280Obs 28var

(28280, 28)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28280 entries, 0 to 28279
Data columns (total 28 columns):
Unnamed: 0                                        28280 non-null int64
REGION                                            28224 non-null object
Year                                              28280 non-null int64
Month                                             28280 non-null int64
Day                                               28280 non-null int64
time                                              28280 non-null object
TOTALDEMAND                                       28223 non-null float64
RRP                                               28223 non-null float64
PERIODTYPE                                        28223 non-null object
date_keep                                         28280 non-null object
Product.code.x                                    27696 non-null object
Bureau.of.Meteorology.station.number.x            27696 non-null float64
Daily.global.solar.exposure..MJ.m.m.              27696 non-null float64
Product.code.y                                    27696 non-null object
Bureau.of.Meteorology.station.number.y            27696 non-null float64
Maximum.temperature..Degree.C.                    27696 non-null float64
Days.of.accumulation.of.maximum.temperature       27696 non-null float64
Quality.x                                         27696 non-null object
Product.code.x.x                                  27696 non-null object
Bureau.of.Meteorology.station.number.x.x          27696 non-null float64
Minimum.temperature..Degree.C.                    27648 non-null float64
Days.of.accumulation.of.minimum.temperature       27648 non-null float64
Quality.y                                         27648 non-null object
Product.code.y.y                                  27696 non-null object
Bureau.of.Meteorology.station.number.y.y          27696 non-null float64
Rainfall.amount..millimetres.                     27696 non-null float64
Period.over.which.rainfall.was.measured..days.    13008 non-null float64
Quality                                           27696 non-null object
dtypes: float64(13), int64(4), object(11)
memory usage: 6.0+ MB